@import (css) 'https://fonts.googleapis.com/css?family=Open+Sans:400,400i';
@import (css) 'https://fonts.googleapis.com/css?family=Playfair+Display:400,400i&amp;subset=cyrillic';
@import './variables';

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: @main-font;
  color: @b;
}

h1, h2, p, ul, li {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: @b;
}

img {
  display: block;
}
